name: Auto Update Build (Dev)

on:
  push:
    branches:
      - dev

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.4'

      - name: Install dependencies
        run: flutter pub get

      - name: Build Windows Release
        run: flutter build windows --release

      - name: Zip Release
        shell: pwsh
        run: |
          $releasePath = "build\windows\x64\runner\Release\*"
          $zipPath = "build/qualiverse_release.zip"

          if (Test-Path $releasePath) {
            Compress-Archive -Path $releasePath -DestinationPath $zipPath -Force
            Write-Host "Release zipped ✅"
          } else {
            Write-Error "Release folder not found ❌"
            exit 1
          }

      - name: Prepare Git
        shell: pwsh
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git remote set-url origin https://$env:GH_PAT@github.com/atefElhamsa/qualiverse_update.git
        env:
          GH_PAT: ${{ secrets.GH_PAT }}

      - name: Reset dev tag
        shell: pwsh
        run: |
          git tag -d dev 2>$null
          git push origin :refs/tags/dev 2>$null
        env:
          GH_PAT: ${{ secrets.GH_PAT }}

      - name: Create dev tag
        shell: pwsh
        run: |
          git tag dev
          git push origin dev
        env:
          GH_PAT: ${{ secrets.GH_PAT }}

      - name: Create / Update Dev Release
        uses: softprops/action-gh-release@v1
        with:
          repository: atefElhamsa/qualiverse_update
          tag_name: dev
          name: Dev Build
          prerelease: true
          files: build/qualiverse_release.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}

      - name: Update version.json on main
        shell: pwsh
        run: |
          $repo = "https://$env:GH_PAT@github.com/atefElhamsa/qualiverse_update.git"
          $folder = "updater_temp"

          git clone $repo $folder
          cd $folder
          git checkout main
          git pull origin main --rebase

          $json = Get-Content version.json | ConvertFrom-Json
          $json.url = "https://github.com/atefElhamsa/qualiverse_update/releases/download/dev/qualiverse_release.zip"

          $json | ConvertTo-Json -Depth 10 | Set-Content version.json

          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add version.json
          git commit -m "Update dev download URL" || Write-Host "No changes"
          git push origin main
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
